<div class="row" style="margin-bottom:15px;">
    <div class="col-6">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-dark" (click)="file.click()" style="width: 100%;">Upload File</button>
    </div>
    <div class="col" style="border: 1px solid #444444; margin-right: 15px;">
      <span class="upload" *ngIf="progress > 0" style="font-size: 15px;">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message" style="font-size: 15px;">
        {{message}}
      </span>
    </div>
  </div>